body {
    background-color: darkgray;
    color: maroon;
    font-family: arial;
    margin: 0px;
    margin-left: 10px;
}
header {
    background-color: darkblue;
    color: aliceblue;
    font-family: times;
    margin: 10px;
    padding: 30px;
}
footer {
    background-color: darkmagenta;
    color: aqua;
    margin: 50px;
}
a {
    text-decoration: none;
    transition: 1s 2s;
}
a:visited {
    color: chocolate;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background: white;
}
div.menu:hover {
    background-color: blueviolet;
    box-shadow: 10px 10px 15px #00000030;
}
footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}